// Colores sólidos:

$txt-pri: #fff;
$acento-sec: #ffcb09;
$acento-pri: #3dafff;
$acento-tet: #a68200;
$acento-ter: #3464af;
$fondo-sec: #373737;
$fondo-ter: #242424;
$fondo-pri: #1e1e1e;
$txt-sec: #000;

// Colores con transparencia:

$sombra-pri: #aaa2;
