@mixin normalizar {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul,
  ol {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
}

@mixin texto($font, $size, $weigth, $height) {
  font-family: $font;
  font-size: $size;
  font-weight: $weigth;
  line-height: $height;
}

@mixin flex-center($justify: true, $align: true) {
  display: flex;

  @if $justify {
    justify-content: center;
  }

  @if $align {
    align-items: center;
  }
}

@mixin box-shadow($h, $v, $blur: 0, $spread: 0, $color) {
  box-shadow: $h $v $blur $spread $color;
  -webkit-box-shadow: $h $v $blur $spread $color;
  -moz-box-shadow: $h $v $blur $spread $color;
}
