@use ".." as *;

nav {
  @include flex-center(false);
  @include box-shadow(0, 1px, 7px, 1px, $sombra-pri);

  justify-content: space-between;
  gap: 15%;
  background: linear-gradient($fondo-sec, $fondo-ter);
  width: 100vw;
  height: 35px;
  padding: 0 2.5%;
}

a {
  color: $acento-pri;
}

.active {
  text-decoration: underline;
}
