@use "../../../." as *;

.pkm-card {
  @include flex-center(false);

  flex-direction: column;
  background-color: $fondo-ter;
  color: $txt-pri;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

.pkm-card:hover {
  @include box-shadow(0px, 0px, 3px, 5px, $sombra-pri);

  background-color: $fondo-sec;
  transform: scale(1.05);
  color: $acento-pri;
}

h3 {
  @include texto(orbitron, 18px, 700, 18px);
}