@use "." as *;

@include normalizar;

body {
  position: relative;
  background-color: $fondo-pri;
  color: $txt-pri;
  min-height: calc(100vh);
  padding-bottom: 50px;
}

h1 {
  @include texto(orbitron, 48px, 700, 48px);

  color: $acento-sec;
  text-shadow: 2px 2px #1d89f5;
  margin: 15px 2.5%;
}

p,
a {
  @include texto(roboto, 18px, 300, 18px);
}

p {
  margin: 10px 2.5%;
}

a {
  font-weight: 400;
}
